$brand-color-10: #846AFF;
$brand-color-20: #836aff3e;
$brand-color-30: #836aff81;
$brand-color-40: #836affa0;
$brand-color-50: #5b46c7;
$shadow: rgba(0, 0, 0, 0.28) 0 5px 20px;
$green: #54B435;
$dark-10: #121214;
$dark-20: #F3F7FF;
$dark-30: #F8F8FF;
$dark-50: #FFFFFF;
$dark-60: #252529;