@import 'imports/functions',
'imports/variables';

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;600;800&display=swap');

* {
    @include reset();
    font-family: 'Sora', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $dark-30;
    position: relative;
    z-index: 1;
    overflow-x: hidden;

    #modalContent {
        @include flex(column, center, center, .5rem);
        position: fixed;
        background-color: $dark-30;
        box-shadow: $shadow;
        right: 2rem;
        top: 6rem;
        height: 12rem;
        width: 15rem;
        border: .2rem solid $brand-color-20;
        border-radius: 1rem;
        display: none;
        z-index: 4;

        .link:nth-child(1) {
            @include flex(row, space-between, center, 0);
            background-color: $brand-color-10;
            color: $dark-50;
            text-decoration: none;
            height: 25%;
            width: 85%;
            border-radius: .5rem;
            border: none;
            outline: none;
            font-size: 1rem;
            padding: 0 1rem;
            cursor: pointer;

            &:hover {
                background-color: $brand-color-30;
            }
        }

        .link:nth-child(2) {
            @include flex(row, space-between, center, 0);
            background-color: $brand-color-30;
            color: $dark-50;
            text-decoration: none;
            height: 25%;
            width: 85%;
            border-radius: .5rem;
            border: none;
            outline: none;
            font-size: 1rem;
            padding: 0 1rem;
            cursor: pointer;

            &:hover {
                background-color: $brand-color-10;
            }
        }

        .link:nth-child(3) {
            @include flex(row, space-between, center, 0);
            background-color: $brand-color-30;
            color: $dark-50;
            text-decoration: none;
            height: 25%;
            width: 85%;
            border-radius: .5rem;
            border: none;
            outline: none;
            font-size: 1rem;
            padding: 0 1rem;
            cursor: pointer;

            &:hover {
                background-color: $brand-color-10;
            }
        }

        &.active {
            display: flex;
        }
    }

    #scrollTop {
        @include flex(column, center, center, 0);
        position: fixed;
        background-color: $brand-color-30;
        color: $dark-50;
        border: .3rem solid $brand-color-10;
        bottom: 2rem;
        padding: 1rem .7rem;
        border-radius: 1rem;
        outline: none;
        bottom: 1.8rem;
        right: 1.8rem;
        font-size: 1.7rem;
        z-index: 4;
        cursor: pointer;
        display: none;
        box-shadow: $shadow;

        i {
            animation: move 2.5s infinite linear;
        }
    }
}

nav {
    @include flex(row, space-between, center, 0);
    height: 10vh;
    padding: 0 2rem;
    z-index: 2;

    .nav-logo {
        img {
            height: 2.2rem;
        }
    }

    .nav-menu {
        @include flex(row, center, center, 1em);
        list-style: none;
        position: fixed;
        right: 2rem;
        z-index: 3;

        li {
            @include flex(row, center, center, 0);
            background-color: $dark-50;
            box-shadow: $shadow;
            height: 3rem;
            width: 3rem;
            font-size: 1rem;
            border-radius: 3rem;
            border: .2rem solid $brand-color-20;
            cursor: pointer;
            transition: transform all .2s ease-in;

            i {
                color: $brand-color-10;
            }

            &:hover {
                background-color: $brand-color-10;
                transition: all .2s ease;
                transform: scale(1.2);

                i {
                    color: $dark-50;
                }
            }
        }
    }
}

main {
    @include flex(column, center, center, 0);
    position: relative;
    z-index: 2;

    .main-container {
        @include flex(column, center, center, 4rem);
        height: 90vh;
        width: 100%;
        position: relative;
        z-index: 3;

        .main-content {
            width: 90%;

            article {
                @include flex(column, center, center, 0);
                text-align: center;

                h1 {
                    color: $dark-60;
                    font-size: 3rem;
                    line-height: 3.3rem;

                    span {
                        color: $brand-color-10;
                    }
                }
            }
        }

        .main-button {
            @include flex(column, center, center, 1.5rem);
            width: 90%;

            .link:nth-child(1) {
                @include flex(column, center, center, 0);
                background-color: $brand-color-10;
                box-shadow: $shadow;
                width: 80%;
                height: 3.5rem;
                border: none;
                border-radius: .5rem;
                text-decoration: none;
                color: $dark-50;
                font-weight: 600;
                font-size: 1.1rem;
            }

            .link:nth-child(2) {
                @include flex(column, center, center, 0);
                border: .2rem solid $brand-color-20;
                color: $brand-color-10;
                box-shadow: $shadow;
                border-radius: .5rem;
                width: 80%;
                height: 3.5rem;
                text-decoration: none;
                font-weight: 600;
                font-size: 1.1rem;
                cursor: pointer;
            }
        }

        .scroll {
            @include flex (column, space-between, center, .2rem);
            position: absolute;
            background-color: $brand-color-30;
            border: .2rem solid $brand-color-10;
            bottom: 2rem;
            padding: 1.2rem .7rem;
            border-radius: 1rem;
            box-shadow: $shadow;
            z-index: 3;

            i {
                font-size: 1rem;
                color: $dark-50;
            }

            animation: move 2.5s infinite linear;
        }

        .avatars:nth-child(4) {
            position: absolute;
            height: 10rem;
            width: 10rem;
            top: 3rem;
            right: -5rem;
        }

        .avatars:nth-child(5) {
            position: absolute;
            height: 10rem;
            width: 10rem;
            top: -1rem;
            left: -4rem;
        }

        .avatars:nth-child(6) {
            position: absolute;
            height: 10rem;
            width: 10rem;
            bottom: -1rem;
            left: 2.5rem;
        }

        .avatars:nth-child(7) {
            position: absolute;
            height: 10rem;
            width: 10rem;
            top: 35rem;
            right: -6rem;
        }

        .avatars:nth-child(8) {
            position: absolute;
            height: 10rem;
            width: 10rem;
            top: 23rem;
            left: -4.5rem;
        }
    }

    .main-search {
        @include flex(column, start, start, 2rem);
        width: 90%;
        height: 100vh;
        padding: 2rem 0 2rem 0;
        z-index: 3;

        h1 {
            color: $brand-color-10;
            font-size: 1.8rem;
            border-right: .2rem solid $brand-color-20;
            border-left: .2rem solid $brand-color-20;
            padding: 0 1rem 0 1rem;
        }

        .main-icon {
            @include flex(row, center, center, 2rem 1rem);
            flex-wrap: wrap;

            article {
                @include flex(column, center, center, 0);
                height: 6rem;
                width: 6rem;
                transition: transform;
                cursor: pointer;

                img {
                    width: 100%;
                    height: 100%;
                }

                &:hover {
                    transform: scale(1.2);
                }
            }
        }
    }

    .main-doc {
        @include flex(column, start, start, 1rem);
        width: 100%;
        height: 100vh;
        padding: 2rem 2rem 1rem 2rem;
        z-index: 3;

        .doc-header {
            @include flex(column, start, start, 1.2rem);

            h1 {
                color: $brand-color-10;
                font-size: 2rem;
            }

            p {
                color: $dark-60;
                text-indent: 1rem;
            }
        }

        .doc-content {
            @include flex(column, start, start, 2rem);
            width: 100%;

            .step:nth-child(1) {
                @include flex(row, center, center, .5rem);
                background-color: $dark-50;
                border: .2rem solid $brand-color-20;
                height: 12rem;
                width: 100%;
                border-radius: 1rem;
                position: relative;
                box-shadow: $shadow;

                img {
                    height: 7rem;
                    width: 7rem;
                    border-radius: 5rem;
                }

                p {
                    color: $brand-color-10;
                    font-size: 1.1rem;
                    font-weight: 600;
                }

                article {
                    @include flex(row, center, center, 0);
                    border: .15rem solid $brand-color-30;
                    position: absolute;
                    top: -.5rem;
                    right: -.5rem;
                    height: 4rem;
                    width: 4rem;
                    border-radius: 3rem;

                    span {
                        @include flex(row, center, center, 0);
                        background-color: $brand-color-10;
                        color: $dark-50;
                        font-weight: 800;
                        height: 3rem;
                        width: 3rem;
                        font-size: 1.5rem;
                        border-radius: 4rem;
                    }
                }
            }

            .step:nth-child(2) {
                @include flex(row, end, center, .8rem);
                background-color: $dark-50;
                border: .2rem solid $brand-color-20;
                height: 12rem;
                width: 100%;
                border-radius: 1rem;
                padding: 0 1rem 0 0;
                position: relative;

                .format {
                    @include flex(column, center, center, .7rem);
                    background-color: $brand-color-30;
                    height: 9rem;
                    width: 10rem;
                    border-radius: .85rem;

                    button {
                        @include flex(row, space-between, center, 0);
                        background-color: $dark-50;
                        color: $brand-color-10;
                        width: 85%;
                        height: 2rem;
                        border-radius: .5rem;
                        border: none;
                        outline: none;
                        font-size: 1rem;
                        font-weight: 600;
                        padding: 0 1rem;
                    }
                }

                .circle {
                    @include flex(row, center, center, 0);
                    border: .15rem solid $brand-color-30;
                    position: absolute;
                    top: -.5rem;
                    right: -.5rem;
                    height: 4rem;
                    width: 4rem;
                    border-radius: 3rem;

                    span {
                        @include flex(row, center, center, 0);
                        background-color: $brand-color-10;
                        color: $dark-50;
                        font-weight: 800;
                        height: 3rem;
                        width: 3rem;
                        font-size: 1.5rem;
                        border-radius: 4rem;
                    }
                }

                p {
                    color: $brand-color-10;
                    font-size: 1.1rem;
                    font-weight: 600;
                    width: 8rem;
                    text-align: start;
                }
            }

            .step:nth-child(3) {
                @include flex(row, end, center, .8rem);
                background-color: $dark-50;
                border: .2rem solid $brand-color-20;
                height: 12rem;
                width: 100%;
                border-radius: 1rem;
                position: relative;
                box-shadow: $shadow;

                .format {
                    @include flex(column, center, center, .6rem);
                    background-color: $brand-color-30;
                    height: 4.5rem;
                    width: 10rem;
                    border-radius: .85rem;

                    .btn:nth-child(1) {
                        @include flex(row, center, center, .2rem);
                        background-color: $dark-50;
                        color: $green;
                        width: 80%;
                        height: 2.6rem;
                        border-radius: .3rem;
                        border: none;
                        outline: none;
                        font-size: 1rem;
                        font-weight: 600;
                        padding: 0 1rem;
                        text-transform: uppercase;
                    }
                }

                .circle {
                    @include flex(row, center, center, 0);
                    border: .15rem solid $brand-color-30;
                    position: absolute;
                    top: -.5rem;
                    right: -.5rem;
                    height: 4rem;
                    width: 4rem;
                    border-radius: 3rem;

                    span {
                        @include flex(row, center, center, 0);
                        background-color: $brand-color-10;
                        color: $dark-50;
                        font-weight: 800;
                        height: 3rem;
                        width: 3rem;
                        font-size: 1.5rem;
                        border-radius: 4rem;
                    }
                }

                p {
                    color: $brand-color-10;
                    font-size: 1.1rem;
                    font-weight: 600;
                    width: 8rem;
                    text-align: start;
                }
            }
        }
    }
}

footer {
    @include flex(column, start, start, 1.5rem);
    position: relative;
    background-color: $brand-color-40;
    height: 50vh;
    z-index: 2;
    padding: 5rem 2rem 2rem 2rem;

    .footer-logo {
        img {
            height: 2.5rem;
        }
    }

    .footer-content {
        @include flex(column, start, start, 2rem);

        p {
            color: $dark-50;
            font-size: 1.1rem;

            a {
                text-transform: uppercase;
                font-weight: 800;
                text-decoration: none;
                color: $brand-color-10;
            }
        }

        .footer-menu {
            @include flex(row, start, start, 2rem);
            list-style: none;

            li {
                a {
                    text-decoration: none;
                    color: $dark-50;

                    i {
                        font-size: 2.5rem;
                    }
                }
            }
        }

        .reserved {
            color: $dark-50;
            font-weight: 300;
            letter-spacing: .1rem;

            strong {
                color: $dark-50;
                font-weight: 800;
                letter-spacing: normal;
                
            }
        }
    }
}

// style scrollbar and thumb
::-webkit-scrollbar {
    background-color: $dark-50;
    width: .7rem;
}

::-webkit-scrollbar-thumb {
    background-color: $brand-color-10;
    width: auto;
}

// style selection
::selection {
    background-color: $brand-color-10;
    color: $dark-20;
}


@keyframes move {

    0% {
        transform: translateY(0%);
    }

    20% {
        transform: translateY(20%);
    }
}

@media (min-width: 430px) and (max-width: 679px) {
    main {
        .main-container {
            .main-content {
                article  {
                    h1 {
                        font-size: 2.5rem;
                        padding: 0 1rem;
                    }
                }
            }

            .main-button {
                .link:nth-child(1) {
                    width: 70%;
                }

                .link:nth-child(2) {
                    width: 70%;
                }
            }
        }

        .main-search {
            height: auto;
        }

        .main-doc {
            @include flex(column, start, start, 2.5rem);

            .doc-header {
                @include flex(column, start, start, 1rem);
                h1 {
                    font-size: 2.2rem;
                }
    
                p {
                    text-indent: 1rem;
                }
            }

            .doc-content {
                @include flex(column, start, center, 2rem);

                .step:nth-child(1) {
                    @include flex(row, space-between, center, 0);
                    padding: 0 1.5rem;
                    width: 60%;

                    img {
                        height: 5rem;
                        width: 5rem;
                    }

                    p {
                        width: 10rem;
                    }
                }

                .step:nth-child(2) {
                    @include flex(row, space-between, center, 0);
                    padding: 0 1.5rem;
                    width: 60%;

                    .format {
                        width: 8rem;
                    }

                    p {
                        width: 9rem;
                    }
                }
                
                .step:nth-child(3) {
                    @include flex(row, space-between, center, 0);
                    padding: 0 1.5rem;
                    width: 60%;

                    .format {
                        width: 8rem;
                    }

                    p {
                        width: 9rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 429px) {
    main {
        .main-container {
            .main-content {
                article  {
                    h1 {
                        font-size: 2.5rem;
                        padding: 0 1rem;
                    }
                }
            }

            .main-button {
                .link:nth-child(1) {
                    width: 70%;
                }

                .link:nth-child(2) {
                    width: 70%;
                }
            }
        }

        .main-search {
            height: auto;
        }

        .main-doc {
            .doc-content {
                .step:nth-child(1) {
                    @include flex(row, space-between, center, 0);
                    padding: 0 1rem;

                    img {
                        height: 5rem;
                        width: 5rem;
                    }

                    p {
                        width: 8rem;
                    }
                }

                .step:nth-child(2) {
                    @include flex(row, space-between, center, 0);
                    padding: 0 1rem;

                    .format {
                        width: 8rem;
                    }

                    p {
                        width: 7rem;
                    }
                }
                
                .step:nth-child(3) {
                    @include flex(row, space-between, center, 0);
                    padding: 0 1rem;

                    .format {
                        width: 8rem;
                    }
                }
            }
        }
    }
}